Package: vaultreader
Version: 1.40.04-0
Architecture: amd64
Maintainer: J.F. Gratton<jean-francois@famillegratton.net>
Description: Hashicorp Vault secret reader
Section: CI/CD utils
Build-Depends: golang-any

